body {
    font-family: Arial;
    margin: 20px;
    background: #f4f4f4;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

input,
button {
    padding: 8px;
    font-size: 14px;
}

.card {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #222;
}

.card h2 {
    margin: 0;
    font-size: 18px;
}

.card p {
    margin: 4px 0;
    font-size: 14px;
}

.actions {
    margin-top: 8px;
}

.actions button {
    margin-right: 5px;
}
